@model IEnumerable<DoAnLTW_Nhom4.Models.ApplicationUser>

@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/categoryView.css" asp-append-version="true" />

<h1>Quản lý người dùng</h1>

<p>
    <a asp-action="Create" class="add-btn">Tạo mới</a>
</p>

<table class="admin-table">
    <thead>
        <tr>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Tên đầy đủ</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="edit-btn">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>